[submodule ".zsh/git-prompt"]
	path = .zsh/git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule ".zsh/syntax-highlighting"]
	path = .zsh/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions.git
[submodule ".vim/papercolor-theme"]
	path = .vim/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule ".vim/vim-atom-dark"]
	path = .vim/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
